html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Jost', sans-serif;
  background-image: url('./images/map21.jpg');
}

h1 {
  margin: 0;
  font-size: 100px;
  color: white;
  text-shadow: #4d361f 1px 1px 8px, #4d361f -1px -1px 8px, #4d361f -1px 1px 8px,
    #4d361f 1px -1px 8px;
}

.input-search {
  color: black;
  border: 3px solid #4d361f;
  outline: none;
}

.countryList {
}

.country-name {
}
.about-country {
}
